.quick__view {
  position: fixed;
  // z-index: -99999;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: all 0.2s linear;
  .wrapper {
    .wrapper__body {
      position: relative;
      .overlay {
        opacity: 0.5;
        background: #333;
        width: 100vw;
        height: 100vh;
      }
      .inner__body {
        position: absolute;
        display: flex;
        align-items: center;
        top: 50%;
        left: 50%;
        background: #fff;
        width: 900px;
        height: 587px;
        border-radius: 5px;
        transform: translate(-50%, -50%) scale(0.5);
        transition: all 0.2s linear;
        .quick__view__inner__body {
          margin: 25px;
          .inner__box__items {
            position: relative;
            display: flex;
            justify-content: space-between;
            .img__file {
              .slick-slider {
                max-width: 400px;
                margin: auto;
                overflow: hidden;
                max-height: 486px;
                .slick-next {
                  right: 5px;
                  width: 30px;
                  height: 30px;
                  z-index: 9;
                  border: 1px solid #ddd;
                  border-radius: 50%;
                  padding: 18px;
                }
                .slick-prev {
                  left: 5px;
                  width: 30px;
                  height: 30px;
                  z-index: 9;
                  border: 1px solid #ddd;
                  border-radius: 50%;
                  padding: 18px;
                }
                .slick-prev:before,
                .slick-next:before {
                  font-size: 22px;
                  opacity: 0.75;
                  color: #5a5a5a;
                  top: -9px;
                  position: relative;
                  left: -11px;
                }
                .slick-dots {
                  bottom: 10px;
                }
              }
              width: 100%;
              img {
              }
            }
            .text__file {
              width: 100%;
              padding-left: 30px;
              .header__text {
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 22px;
                color: #666;
                font-weight: 700;
                position: relative;
                &::after {
                  position: absolute;
                  width: 60px;
                  height: 3px;
                  background: var(--primary-theme-color);
                  content: "";
                  left: 0;
                  bottom: -8px;
                }
              }
              .price {
                font-size: 20px;
                font-weight: 800;
              }
              .des {
                margin-top: 10px;
                font-size: 15px;
                line-height: 25px;
                color: #666;
              }
              .select__size__body {
                margin-top: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding-bottom: 10px;
                .header__text__intro {
                  font-size: 15px;
                  color: #666;
                  margin-right: 10px;
                }
                .css-6j8wv5-Input {
                  width: 286px;
                }
              }
              .footer__intro {
                border-top: 1px dashed #ddd;
                margin-top: 8px;
                padding-top: 6px;
                .footer__intro__price {
                  span {
                    font-size: 18px;
                    font-weight: 700;
                    color: #666;
                  }
                }
                .cart__int {
                  display: flex;
                  margin-top: 8px;
                  .input__field {
                    height: auto;
                    display: flex;
                    button {
                      font-size: 20px;
                      font-weight: 600;
                      padding: 0px 10px;
                      background: #f9f9f9;
                      border: 1px solid #ddd;
                      transition: all 0.2s linear;
                      height: 38px !important;
                      &:hover {
                        background: #ddd;
                      }
                    }
                    input {
                      width: 50px;
                      padding: 5px 8px;
                      text-align: center;
                      border-right: none;
                      border-left: none;
                      height: 38px;
                    }
                  }
                  .button__cart {
                    .button__mid_solid_color_black {
                      margin-top: 0;
                      margin-left: 15px;
                      padding: 7px 38px;
                      font-size: 13px;
                    }
                  }
                }
                .tag__info {
                  margin-top: 18px;
                  ul {
                    padding: 0;
                    li {
                      border-top: 1px dotted #ddd;
                      font-size: 12px;
                      color: #666;
                      padding: 5px 0;
                      span {
                        font-weight: 600;
                        margin-right: 5px;
                        color: var(--secondary-theme-color);
                      }
                    }
                  }
                }
              }
            }
          }

          .close__icon {
            position: absolute;
            top: -13px;
            right: 4px;
            font-size: 38px;
            cursor: pointer;
            svg {
              transition: all 0.2s linear;
              path {
                stroke: var(--primary-theme-color);
              }
              &:hover {
                transform: scale(110%) rotate(90deg);
              }
            }
          }
        }
      }
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 99999;

    .inner__body {
      transform: translate(-50%, -50%) scale(1) !important;
    }
  }
}
