/*=========================
   Top Header Area 
===========================*/

.header__section {
  position: relative;
  .top__headerSection {
    @media #{$md-layout-device} {
      display: none;
    }
    @media #{$sm-layout-device} {
      display: none;
    }
    .wrapper {
      .wrapper__body {
        background: #333;

        .part__one {
          height: 30px;
          align-items: center;
          .left__side {
            .inner__show {
              p {
                color: var(--color-white);
                font-size: 12px;
              }
            }
          }
          .right__side {
            .inner__show {
              display: flex;
              justify-content: end;
              .dropdown__inner_one {
                li {
                  display: inline;
                  padding: 6px 7px;
                  border-right: 1px solid rgba(221, 221, 221, 0.452);
                  a {
                    text-decoration: none;
                    font-size: 13px;
                    color: var(--text-color-two);
                    &:hover {
                      color: var(--color-white);
                    }

                    .icon {
                      font-size: 14px;
                      margin-top: -2px;
                    }
                  }
                }
              }

              .dropdown__inner_two {
                width: 140px;
                display: flex;
                padding-left: 0px;
                justify-content: space-between;
                li {
                  display: inline;
                  padding: 0px 7px;
                  border-right: 1px solid rgba(221, 221, 221, 0.452);
                  a {
                    text-decoration: none;
                    font-size: 13px;
                    color: var(--text-color-two);
                    &:hover {
                      color: var(--color-white);
                    }

                    .icon {
                      font-size: 14px;
                      margin-top: -2px;
                    }
                  }
                }
                .Languages {
                  position: relative;
                  &:hover a,
                  &:focus-within a {
                    color: var(--color-white);
                  }
                  transition: all 0.3s linear;
                  .dropdown__inner {
                    background-color: var(--color-white);
                    position: absolute;
                    min-width: 122px;
                    max-width: 120px;
                    top: 27px;
                    left: -18px;
                    padding: 0px 15px;
                    border-radius: 2px;
                    z-index: 99;
                    box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 30%);
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.1s linear;
                    li {
                      cursor: pointer;
                      display: block;
                      border-right: none;
                      font-size: 12px;
                      padding: 7px 7px;
                      transition: all 0.1s ease 0s;
                      color: #333;

                      &:hover {
                        color: var(--primary-theme-color);
                      }
                    }
                  }
                  &:hover,
                  &:focus-within {
                    .dropdown__inner {
                      opacity: 1;
                      visibility: visible;
                    }
                  }
                }
              }

              .icon__show {
                margin-left: 10px;
                .icon {
                  font-size: 13px;
                  margin: 3px;
                  color: var(--text-color-two);
                  &:hover {
                    color: var(--color-white);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*=========================
   Desktop Menu Area 
===========================*/

.desktop__menu {
  .wrapper {
    box-shadow: -2px 2px 45px -20px rgb(0 0 0 / 30%);
    .wrapper__body {
      height: 90px;
      display: flex;
      align-items: center;
      nav {
        display: flex;
        justify-content: space-between;
        .logo__section {
          display: flex;
          align-items: center;
        }
        .nav__items {
          margin-right: 220px;
          display: flex;
          align-items: center;
          .nav__item {
            position: relative;
            display: inline;
            padding: 33px 10px;
            .link {
              color: #666;
              font-size: 13px;
              font-weight: 700;
              text-transform: uppercase;
              padding: 10px 0;
              &:hover {
                color: rgba(17, 17, 17, 0.85);
              }
            }

            .dropdown__items {
              top: 86px;
              left: -32px;
              position: absolute;
              max-height: inherit;
              padding: 20px;
              min-width: 260px;
              z-index: 9;
              background-color: #fff;
              transition: all 0.3s linear;
              box-shadow: 0 15px 30px -4px rgb(0 0 0 / 9%);
              visibility: hidden;
              opacity: 0;
              .dropdown__item {
                padding: 8px 0;
                border-bottom: 1px solid #ddd;

                &:last-child {
                  border-bottom: none;
                }
                .link {
                  color: #666;
                  font-size: 13px;
                  font-weight: 700;
                  text-transform: uppercase;
                  padding: 10px 0;
                  &:hover {
                    color: rgba(17, 17, 17, 0.85);
                  }
                }
              }
            }
            &.megaMenu__intro {
              position: static;

              .megaMenu {
                position: absolute;
                width: 100%;
                left: -50%;
                margin-left: 50%;
                top: 91px;
                max-height: inherit;
                padding: 35px 20px;
                z-index: 9;
                transition: all 0.3s linear;
                background-color: var(--color-white);
                box-shadow: 0 15px 30px -4px rgb(0 0 0 / 9%);
                visibility: hidden;
                opacity: 0;
                .inner__megaMenu {
                  display: flex;
                  justify-content: space-between;
                  .categories__items {
                    h3 {
                      font-size: 25px;
                      font-weight: 600;
                    }
                    ul {
                      margin-top: 20px;
                      padding-left: 0;
                    }
                    li {
                      padding: 5px 0;
                    }
                  }
                  .product__items {
                    .product__item {
                      display: grid;
                      grid-template-columns: repeat(6, 1fr);
                      grid-template-rows: repeat(2, 1fr);
                      grid-column-gap: 25px;
                      grid-row-gap: 25px;
                      .product__item__inner {
                        text-align: center;
                        width: 145px;
                        background: #f7f6f1;
                        border-radius: 5px;
                        overflow: hidden;
                        cursor: pointer;

                        img {
                          border-radius: 5px 5px 0 0;
                          transition: all 0.2s;
                        }
                        p {
                          padding: 10px 0;
                          color: var(--text-color-one);
                        }
                        &:hover {
                          img {
                            opacity: 0.8;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            &:hover {
              .dropdown__items {
                visibility: visible;
                opacity: 1;
              }
              .megaMenu {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
        .login__section {
          display: flex;
          align-items: center;
          .login__innerSection {
            li {
              display: inline;
              cursor: pointer;
              color: #666;
              font-size: 13px;
              font-weight: 700;
              text-transform: uppercase;
              padding: 7px 10px;
              &:hover {
                color: rgba(17, 17, 17, 0.85);
              }
              &:nth-child(1) {
                border-right: 1px solid #ddd;
              }
              &.cart__total {
                position: relative;
                color: var(--primary-theme-color);
                .cart__item {
                  position: absolute;
                  right: 19px;
                  font-size: 10px;
                  top: 7px;
                  color: var(--color-white);
                }
              }

              &.search__intro {
                position: relative;
                .Search__icon {
                  font-size: 14px;
                }
                .search__section {
                  position: absolute;
                  width: 240px;
                  transition: all 0.2s linear;
                  visibility: hidden;
                  opacity: 0;
                  .inner__section {
                    position: relative;
                    top: -33px;
                    left: -238px;
                    & form > .Search__icon {
                      position: absolute;
                      right: 15px;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                    input {
                      padding: 10px 20px;
                      border-radius: 10px;
                    }
                  }
                  &.active {
                    visibility: visible;
                    opacity: 1;
                  }
                }
              }

              .icon {
                font-size: 28px;
              }
            }
          }
        }
      }
    }
  }
  @media #{$md-layout-device} {
    display: none;
  }
  @media #{$sm-layout-device} {
    display: none;
  }
}

/*=========================
   Mobile Menu Area 
===========================*/

.mobile__menu {
  position: fixed;
  overflow-y: scroll;
  height: 110vh;
  z-index: 9999;
  background: #ddd;
  width: 100%;
  transition: all 0.2s linear;

  @media #{$extra-device} {
    display: none;
  }
  @media #{$laptop-device} {
    display: none;
  }
  @media #{$lg-layout-device} {
    display: none;
  }
  .header__item {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    .menu__icon {
      .icon,
      .close__menu__icon {
        font-size: 30px;
        cursor: pointer;
      }
    }
    .cart__section {
      position: relative;
      .icon {
        font-size: 40px;
      }
      .cart__item {
        position: absolute;
        top: 6px;
        left: 15px;
        color: var(--color-white);
      }
    }
  }
  .wrapper {
    .wrapper__body {
      nav {
        padding: 50px 0;
        .search__intro {
          position: relative;
          top: 22px;
          background-color: #f8f8f8;
          padding: 20px 14px;
          input {
            padding: 5px 15px;
          }
          .Search__icon {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
          }
        }
        .nav__items {
          padding: 60px 0 60px 0;

          .nav__item {
            position: relative;
            display: block;
            padding: 5px 25px;
            border-bottom: 1px solid #ddd;
            .link {
              display: block;
              color: #666;
              font-size: 18px;
              font-weight: 700;
              text-transform: uppercase;
              padding: 10px 0;
              &:hover {
                color: rgba(17, 17, 17, 0.85);
              }
            }
            &.pageItem {
              .dropdown__items {
                position: fixed;
                left: -99999px;
                padding: 10px 15px;
                opacity: 0;
                transform: translateX(-10px);
                transition: all 0.3s linear;
                transition: background-color 0.6s, transform 0.3s, opacity 0.3s,
                  -webkit-transform 0.3s;
                .dropdown__item {
                  position: relative;
                  display: block;
                  padding: 8px;
                  .link {
                    color: #666;
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 10px 0;
                    &:hover {
                      color: rgba(17, 17, 17, 0.85);
                    }
                  }
                }
              }
              &:focus-within .dropdown__items {
                position: inherit;
                opacity: 1;
                left: auto;
                transform: translateX(0);
                transition: all 0.3s linear;
              }
            }
            &.megaMenu__intro {
              display: none;
            }
          }
        }
        .social__icon {
          margin-left: 10px;
          a {
            margin: 8px;
            color: #666;
            .icon {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  &.active {
    height: 100px;
    visibility: visible;
    opacity: 1;
  }
}
