.button__mid_solid_color_black {
  border: 2px solid var(--secondary-theme-color);
  background-color: var(--secondary-theme-color);
  padding: 10px 50px;
  font-size: 15px;
  color: #fff !important;
  margin-top: 22px;
  display: block;
  transition: all 0.1s;
  &:hover {
    opacity: 0.8;
  }
}
.button__mid_border_color_white {
  display: inline-block !important;
  border: 2px solid var(--color-white);
  background-color: transparent;
  padding: 10px 40px;
  font-size: 15px;
  color: var(--color-white) !important;
  transition: all 0.2s;
  &:hover {
    background-color: var(--color-white) !important;
    color: var(--secondary-theme-color) !important;
  }
}
.button__mid_border_color_gray {
  border: 2px solid #eee;
  background-color: var(--color-white);
  padding: 10px 20px;
  font-size: 15px;
  color: var(--secondary-theme-color) !important;
  margin-top: 22px;
  display: block;
  transition: all 0.1s;
  &:hover {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
  }
}
