.account__section {
  padding: 100px 0;

  .wrapper {
    .wrapper__body {
      .left__side {
        .inner__body {
          .react-tabs__tab-list {
            // ul
            // border: 1px solid #ddd;
            border: none;
            .react-tabs__tab {
              // li

              border: 1px solid #ddd;
              border-bottom: none;
              display: block;
              position: initial;
              font-size: 16px;
              font-weight: 600;
              padding: 15px 20px;
              transition: all 0.1s linear;
              &:hover {
                background: var(--secondary-theme-color);
                color: var(--color-white);
                border: 1px solid var(--secondary-theme-color);
                border-bottom: none;
              }

              &:last-child {
                border-bottom: 1px solid #ddd;
              }
              &.react-tabs__tab--selected {
                background: var(--secondary-theme-color);
                color: var(--color-white);
                border-radius: 0;
                border: 1px solid var(--secondary-theme-color);
                border-bottom: none;
                &:last-child {
                  border: 1px solid var(--secondary-theme-color);
                }
              }
            }
          }
        }
      }
      .right__side {
        padding-left: 35px;
        .inner__body {
          .react-tabs__tab-panel {
            display: block !important;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s linear;
            &.react-tabs__tab-panel--selected {
              visibility: visible;
              opacity: 1;
            }
          }

          .dashBoard__body {
            border: 1px solid #ddd;
            padding: 35px 50px;
            .header {
              h3 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 10px;
                border-bottom: 2px dashed #ddd;
                padding-bottom: 16px;
              }
              p {
                font-size: 18px;
              }
            }
            .body {
              margin-top: 30px;
              display: flex;
              .img__file {
                border: 1px solid #ddd;
                padding: 10px;
                height: 112px;
                border-radius: 10px;
                img {
                  width: 80px;
                  height: 80px;
                }
              }
              .text__file {
                ul {
                  li {
                    padding: 3px 0;
                    font-size: 15px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
        .data__table {
          padding: 20px;
          border: 1px solid #ddd;
          table {
            border: none;
          }
        }
        .edit__profile {
          .inner__body {
            .header__text {
              font-size: 22px;
              font-weight: 600;
              margin-bottom: 20px;
              .icon {
                margin-right: 7px;
                color: #666666;
              }
            }
            form {
              .form__text {
                .top__section {
                  margin-bottom: 15px;
                  display: flex;
                  .form__input {
                    p {
                      font-size: 16px;
                      color: #666666;
                    }
                    input {
                      border-radius: 5px;
                      padding: 0 12px;
                    }
                    width: 50%;
                    &:nth-child(1) {
                      margin-right: 10px;
                    }
                    &:nth-child(2) {
                      margin-left: 10px;
                    }
                  }
                }

                .last__section {
                  .form__input {
                    &:nth-child(1) {
                      margin-bottom: 15px;
                      p {
                        font-size: 16px;
                        color: #666666;
                      }
                      span {
                        font-size: 12px;
                        color: #666666;
                      }
                      input {
                        border-radius: 5px;
                        padding: 0 12px;
                      }
                    }
                    &:nth-child(2) {
                      margin-bottom: 40px;
                      p {
                        font-size: 16px;
                        color: #666666;
                      }
                      span {
                        font-size: 12px;
                        color: #666666;
                      }
                      input {
                        border-radius: 5px;
                        padding: 0 12px;
                      }
                    }
                    &:nth-child(3) {
                      margin-bottom: 15px;
                      h2 {
                        font-size: 20px;
                        font-weight: 700;
                      }
                      p {
                        font-size: 16px;
                        color: #666666;
                      }
                      span {
                        font-size: 12px;
                        color: #666666;
                      }
                      input {
                        border-radius: 5px;
                        padding: 0 12px;
                      }
                    }
                    &:nth-child(4) {
                      margin-bottom: 15px;

                      p {
                        font-size: 16px;
                        color: #666666;
                      }
                      span {
                        font-size: 12px;
                        color: #666666;
                      }
                      input {
                        border-radius: 5px;
                        padding: 0 12px;
                      }
                    }
                    &:nth-child(5) {
                      margin-bottom: 15px;

                      p {
                        font-size: 16px;
                        color: #666666;
                      }
                      span {
                        font-size: 12px;
                        color: #666666;
                      }
                      input {
                        border-radius: 5px;
                        padding: 0 12px;
                      }
                    }
                  }
                  .button__mid_solid_color_black {
                    display: inline-block;
                    border-radius: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// ========= min-width:768px & max-width:991px =========

@media #{$md-layout-device} {
  .account__section {
    padding: 60px 0;

    .wrapper {
      .wrapper__body {
        .left__side {
          margin-bottom: 50px;
        }
        .right__side {
          padding-left: calc(var(--bs-gutter-x) * 0.5);
        }
      }
    }
  }
}

// ========= min-width:0px & max-width:767px  =========

@media #{$sm-layout-device} {
  .account__section {
    padding: 60px 0;

    .wrapper {
      .wrapper__body {
        .left__side {
          margin-bottom: 40px;
        }
        .right__side {
          padding-left: calc(var(--bs-gutter-x) * 0.5);
          .inner__body {
            .dashBoard__body {
              border: 1px solid #ddd;
              padding: 30px 10px;
              .header {
                p {
                  font-size: 16px !important;
                }
              }
              .body {
                .text__file {
                  ul {
                    li {
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
          .data__table {
            padding: 15px;
            td {
              font-size: 14px !important;
              line-height: 18px;

              &:nth-child(2) {
                width: 35%;
              }
            }
          }
          .top__section {
            margin-bottom: 15px;
            display: block !important;
            .form__input {
              p {
                font-size: 16px;
                color: #666666;
              }
              input {
                border-radius: 5px;
                padding: 0 12px;
              }
              width: 100% !important;
              &:nth-child(1) {
                margin-right: 0 !important;
              }
              &:nth-child(2) {
                margin-left: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
