.blog {
  margin: 100px 0;
  .wrapper {
    .wrapper__body {
      .row {
        .left__side {
          .inner__body {
            .inner__items {
              margin-bottom: 50px;
              display: flex;
              justify-content: space-between;
              .img__file {
                // width: 40%;
                .img__overflow {
                  overflow: hidden;
                  img {
                    transition: all 0.3s linear;
                  }
                }
              }
              .text__file {
                width: 60%;
                margin-top: auto;
                margin-bottom: auto;
                padding-left: 25px;
                padding-right: 44px;
                .tag__box {
                  font-size: 14px;
                  a,
                  span {
                    color: #666;
                    margin-right: 6px;
                    transition: all 0.2s;
                  }
                  a {
                    font-weight: 600;
                    &:hover {
                      color: var(--primary-theme-color);
                    }
                  }
                }
                .header__text {
                  margin-top: 7px;
                  margin-bottom: 0;
                  a {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--secondary-theme-color);
                    transition: all 0.2s;
                    &:hover {
                      color: var(--primary-theme-color);
                    }
                  }
                }
                .des {
                  p {
                    color: #666;
                    font-size: 15px;
                    line-height: 26px;
                  }
                }
                .date__box {
                  margin-top: 2px;
                  span {
                    font-size: 14px;
                    margin-right: 5px;
                    color: #666;
                  }
                }
                .post {
                  p {
                    color: #666;
                    a {
                      font-weight: 600;
                      color: var(--secondary-theme-color);
                      &:hover {
                        color: var(--primary-theme-color);
                      }
                    }
                  }
                }
              }
              &:hover {
                .img__overflow img {
                  transform: scale(110%);
                }
              }
            }
            .pagination {
              margin-top: 134px;
              .pagination__inner {
                ul {
                  padding: 0;
                  li {
                    margin-right: 12px !important;
                    display: inline-block;
                    border: 1px solid #ddd;
                    transition: all 0.2s;
                    a {
                      padding: 5px 12px;
                      display: block;
                      color: #666;
                      font-size: 15px;
                      transition: all 0.2s;
                    }
                    &:hover {
                      border-color: var(--secondary-theme-color);
                      background: var(--secondary-theme-color);

                      a {
                        color: #fff;
                      }
                    }
                    &.active {
                      border-color: var(--secondary-theme-color);
                      background: var(--secondary-theme-color);
                      a {
                        color: #fff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .right__side {
          .inner__body {
            .search__box {
              position: relative;
              input {
                color: #666;
                padding: 0 10px;
                font-size: 15px;
              }
              .searchIcon {
                position: absolute;
                top: 7px;
                right: 13px;
                cursor: pointer;
                color: #666;
              }
            }
            .categories {
              margin-top: 40px;
              .inner_categories {
                h2 {
                  position: relative;
                  font-size: 18px;
                  font-weight: 700;
                  &::after {
                    position: absolute;
                    bottom: -10px;
                    background-color: #ddd;
                    width: 100%;
                    height: 1px;
                    content: "";
                    left: 0;
                  }
                }
                ul {
                  padding: 0;
                  margin-top: 28px;
                  li {
                    margin-bottom: 8px;
                    a {
                      color: #666;
                      transition: all 0.2s;
                      &:hover {
                        color: var(--secondary-theme-color);
                      }
                    }
                  }
                }
              }
            }
            .popular__posts {
              margin-top: 40px;

              h2 {
                position: relative;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 40px;
                &::after {
                  position: absolute;
                  bottom: -10px;
                  background-color: #ddd;
                  width: 100%;
                  height: 1px;
                  content: "";
                  left: 0;
                }
              }
              .inner__popular__posts {
                margin-bottom: 24px;
                display: flex;
                justify-content: space-between;
                .img__file {
                  width: 40%;
                  .img__overlay {
                    overflow: hidden;
                    img {
                      transition: all 0.3s linear;
                    }
                  }
                }
                .text__file {
                  width: 60%;
                  padding-left: 10px;
                  .date {
                    font-size: 12px;
                    color: #666;
                  }
                  .title {
                    line-height: 16px;
                    a {
                      font-size: 13px;
                      color: #666;
                      transition: all 0.2s;
                      &:hover {
                        color: var(--secondary-theme-color);
                      }
                    }
                  }
                }
                &:hover {
                  .img__overlay img {
                    transform: scale(110%);
                  }
                }
              }
            }
            .tag {
              margin-top: 40px;
              h2 {
                position: relative;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 40px;
                &::after {
                  position: absolute;
                  bottom: -10px;
                  background-color: #ddd;
                  width: 100%;
                  height: 1px;
                  content: "";
                  left: 0;
                }
              }
              a {
                display: inline-block;
                border: 1px solid #ddd;
                border-radius: 5px;
                padding: 5px 11px;
                font-size: 15px;
                color: #666;
                margin-right: 10px;
                margin-bottom: 10px;
                &:hover {
                  border-color: var(--secondary-theme-color);
                }
              }
            }
            .block {
              margin-top: 40px;
              h2 {
                position: relative;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 30px;
                &::after {
                  position: absolute;
                  bottom: -10px;
                  background-color: #ddd;
                  width: 100%;
                  height: 1px;
                  content: "";
                  left: 0;
                }
              }
              p {
                font-size: 15px;
                color: #666;
              }
            }
            .calendar {
              margin-top: 40px;
              h2 {
                position: relative;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 40px;
                &::after {
                  position: absolute;
                  bottom: -10px;
                  background-color: #ddd;
                  width: 100%;
                  height: 1px;
                  content: "";
                  left: 0;
                }
              }
              .react-calendar {
                border: none;
                .react-calendar__navigation__prev2-button,
                .react-calendar__navigation__next2-button {
                  display: none;
                }
                .react-calendar__tile--active {
                  background: var(--secondary-theme-color);
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ========= min-width:768px & max-width:991px =========

@media #{$md-layout-device} {
  .blog {
    margin: 100px 0;
    .wrapper {
      .wrapper__body {
        .row {
          .left__side {
            .inner__body {
              .inner__items {
                display: block;

                .text__file {
                  width: 100%;
                  margin-top: 30px;
                  padding-left: 0;
                  padding-right: 0;
                }
                &:hover {
                  .img__overflow img {
                    transform: none;
                  }
                }
              }
            }
          }
          .right__side {
            display: none;
          }
        }
      }
    }
  }
}

// ========= min-width:0px & max-width:575px  =========
@media #{$sm-layout-device} {
  .blog {
    margin: 80px 0;
    .wrapper {
      .wrapper__body {
        .row {
          .left__side {
            .inner__body {
              .inner__items {
                margin-bottom: 50px;
                display: block;

                .text__file {
                  margin-top: 30px;
                  width: 100%;
                  padding-left: 0;
                  padding-right: 0;
                  .tag__box {
                    font-size: 14px !important;
                  }

                  .des {
                    p {
                      font-size: 15px !important;
                    }
                  }
                  .date__box {
                    margin-top: 5px;
                    span {
                      font-size: 14px !important;
                    }
                  }
                  .post {
                    p {
                      font-size: 15px !important;
                    }
                  }
                }
                &:hover {
                  .img__overflow img {
                    transform: none;
                  }
                }
              }
              .pagination {
                margin-top: 60px;
              }
            }
          }
          .right__side {
            display: none;
          }
        }
      }
    }
  }
}
