.cart__section {
  padding: 100px 0;
  .wrapper {
    .wrapper__body {
      .left__side {
        .inner__body {
          table {
            border: none;
            thead {
            }
            tbody {
              top: 25px;
              position: relative;

              .img__file {
                position: relative;
                img {
                  width: 100px;
                }
              }
              .count {
                border: 1px solid #ddd;
                padding: 12px 0px;
                display: flex;
                justify-content: space-evenly;
                .minus {
                  cursor: pointer;
                  background: rgba(221, 221, 221, 0.438);
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .plus {
                  cursor: pointer;
                  background: rgba(221, 221, 221, 0.438);
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
      .right__side {
        .inner__body {
          border: 1px solid #ddd;
          padding: 30px 20px;
          .header__text {
            font-size: 26px;
            font-weight: 700;
          }
          .shipping {
            .items {
              .customInput {
                margin-bottom: 10px;
                position: relative;
                input {
                  position: absolute;
                  width: auto;
                  opacity: 0;
                  z-index: -1;

                  &.custom-control-input:checked ~ label::after {
                    transition: all 0.2s;
                    color: #fff;
                    background-color: #333;
                    border: 1px solid #333 !important;
                  }
                }
                label {
                  position: relative;
                  padding-left: 25px;
                  &::after {
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 20px;
                    color: #fff;
                    height: 20px;
                    border: 1px solid #ddd !important;
                    background-color: #fff;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f00c";
                    padding: 0px;
                    padding-left: 2px;
                    font-size: 13px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
