.checkout {
  margin: 100px 0;
  .wrapper {
    .wrapper__body {
      .left__side {
        .inner__body {
          .login__source {
            p {
              font-size: 15px;
              color: #666;
              a {
                color: #333;
                font-weight: 800;
              }
            }
          }
          .billing__address {
            margin-top: 24px;
            h3 {
              font-size: 18px;
              font-weight: 800;
              margin-bottom: 14px;
            }
            .main__address {
              form {
                .form__group {
                  margin-bottom: 6px;
                  .leftGroup {
                    margin-right: 10px;
                    width: 50%;
                    p {
                      color: #666;
                      font-size: 14px;
                    }
                    input {
                      border-radius: 5px;
                      padding: 0 10px;
                      font-size: 15px;
                      color: #666;
                    }
                  }
                  .rightGroup {
                    margin-left: 10px;
                    width: 50%;
                    p {
                      color: #666;
                      font-size: 14px;
                    }
                    input {
                      border-radius: 5px;
                      padding: 0 10px;
                      font-size: 15px;
                      color: #666;
                    }
                  }
                  .singleGroup {
                    p {
                      color: #666;
                      font-size: 14px;
                    }
                    input {
                      border-radius: 5px;
                      padding: 0 10px;
                      font-size: 15px;
                      color: #666;
                    }

                    .css-319lph-ValueContainer {
                      padding: 0px 8px !important;
                    }
                  }
                }
              }
            }
            .different__address {
              margin-top: 30px;
              & > input {
                display: inline-block;
                width: auto;
                margin-right: 10px;
                margin-bottom: 20px;
                height: auto;
              }
              form {
                visibility: hidden;
                opacity: 0;
                height: 0;
                transition: all 0.3s linear;
                &.active {
                  visibility: visible;
                  opacity: 1;
                  height: 533px;
                }
              }
            }
            .orderNote {
              p {
                color: #666;
                font-size: 14px;
              }
              textarea {
                border-radius: 5px;
                padding: 0 10px;
                font-size: 15px;
                color: #666;
              }
            }
          }
        }
      }
    }
  }
}
