.login-register {
  margin: 100px 0;
  .wrapper {
    .wrapper__body {
      .row {
        .left__side {
          border-right: 1px solid #ddd;
          .inner__body {
            padding-right: 80px;
            .header__text {
              h2 {
                font-size: 22px;
                font-weight: 800;
              }
              p {
                font-size: 16px;
                color: #666;
                margin-top: 12px;
                line-height: 26px;
              }
            }
            form {
              margin-top: 20px;
              .email__input,
              .pass__input {
                background: #fff;
                color: #666 !important;
                padding: 0 12px;
                font-size: 15px;
                border: 1px solid #ddd;
                margin-bottom: 12px;
              }
              .checkbox__input__body {
                margin-top: 12px;
                .checkbox__input {
                  width: auto;
                  height: auto;
                  margin-right: 10px;
                }
                label {
                  font-size: 16px;
                  color: #666;
                  margin-top: 0px;
                  display: inline-block;
                  line-height: 15px;
                  cursor: pointer;
                }
              }
              .button__mid_solid_color_black {
                display: inline-block;
              }
            }
          }
        }
        .right__side {
          padding-left: 80px;
          .header__text {
            h2 {
              font-size: 22px;
              font-weight: 800;
            }
            p {
              font-size: 16px;
              color: #666;
              margin-top: 12px;
              line-height: 26px;
            }
          }
          form {
            margin-top: 20px;
            .email__input,
            .pass__name,
            .pass__input {
              background: #fff;
              color: #666 !important;
              padding: 0 12px;
              font-size: 15px;
              border: 1px solid #ddd;
              margin-bottom: 12px;
            }

            p {
              font-size: 15px;
              color: #666;
              margin-top: 12px !important;
              display: inline-block;
            }
            .button__mid_solid_color_black {
              display: inline-block;
            }
          }
        }
        .intro__box {
          background: rgba(221, 221, 221, 0.486);
          padding: 30px 35px;
          margin-top: 50px;
          h2 {
            font-size: 18px;
            font-weight: 600;
          }
          p {
            font-size: 16px;
            color: #666;
            margin-top: 12px;
            line-height: 26px;
          }
          ul {
            margin-top: 24px;
            padding: 0;
            li {
              margin-bottom: 8px;
              color: #666;
              font-size: 15px;
              .icon {
                margin-right: 10px;
                color: var(--secondary-theme-color);
              }
            }
          }
        }
      }
    }
  }
}

// ========= min-width:768px & max-width:991px =========

@media #{$md-layout-device} {
  .login-register {
    margin: 100px 0;
    .wrapper {
      .wrapper__body {
        .row {
          .right__side {
            padding-left: calc(var(--bs-gutter-x) * 0.5);
            margin-top: 65px;
          }
        }
      }
    }
  }
}

// ========= min-width:0px & max-width:575px  =========
@media #{$sm-layout-device} {
  .login-register {
    margin: 100px 0;
    .wrapper {
      .wrapper__body {
        .row {
          .left__side {
            .inner__body {
              padding-right: 0;
              .header__text {
                p {
                  font-size: 16px !important;
                }
              }
            }
          }
          .right__side {
            margin-top: 65px;
            padding-left: calc(var(--bs-gutter-x) * 0.5);
            .header__text {
              p {
                font-size: 16px !important;
              }
            }
            form {
              p {
                font-size: 15px !important;
              }
            }
          }
          .intro__box {
            p {
              font-size: 16px !important;
            }
          }
        }
      }
    }
  }
}
