.shop {
  .wrapper {
    margin-top: 35px;
    .wrapper__body {
      .container > .row {
        --bs-gutter-x: 50px !important;
      }
      .left__side {
        .filter {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 8px;
          span {
            font-size: 16px;
            &:first-child {
              font-weight: 700;
            }
            &:last-child {
              cursor: pointer;
            }
          }
        }
        .accordion__body {
          .accordion {
            border: none;
            .accordion__item {
              border: none;
              .accordion__heading {
                .accordion__button {
                  background: #fff;
                  padding: 10px 0px;
                  position: relative;
                  font-size: 18px;
                  font-weight: 600;
                  border-bottom: 1px solid #ddd;
                  &::before {
                    display: none;
                  }
                  svg {
                    font-size: 17px;
                    position: absolute;
                    right: -3px;
                    top: 16px;
                  }
                  &[aria-expanded="true"] {
                    .icons__BsPlus {
                      visibility: hidden;
                      transition: all 0.2s linear;
                      transform: rotate(90deg);
                    }
                  }
                  &[aria-expanded="false"] {
                    .icons__BiMinus {
                      transition: all 0.2s linear;
                      transform: rotate(90deg);
                      visibility: hidden;
                    }
                  }
                }
              }
              .accordion__panel {
                padding: 5px 0px;
                opacity: 1;
                max-height: 600px;
                transition: all 0.4s ease-out;
                &[hidden] {
                  display: block !important;
                  opacity: 0 !important;
                  max-height: 0px !important;
                  transition: all 0.4s !important;
                  ul {
                    visibility: hidden;
                  }
                }

                .items__body {
                  padding: 0;
                  li {
                    padding: 4px 0;
                    input {
                      width: auto;
                      height: auto;
                      display: none;
                      position: relative;
                      &:checked ~ label {
                        color: var(--secondary-theme-color);
                        font-weight: 500;
                        &::after {
                          transition: all 0.2s;
                          color: #fff;
                          background-color: #333;
                          border: 1px solid #333 !important;
                        }
                      }
                    }
                    label {
                      position: relative;
                      padding-left: 24px;
                      cursor: pointer;
                      color: #666;
                      font-size: 16px;
                      transition: all 0.2s;
                      &:hover {
                        color: var(--secondary-theme-color);
                      }
                      &::after {
                        position: absolute;
                        top: 4px;
                        left: 0;
                        width: 18px;
                        color: #fff;
                        height: 18px;
                        border: 1px solid #ddd !important;
                        background-color: #fff;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        content: "\f00c";
                        padding: 0px;
                        padding-left: 2px;
                        font-size: 13px;
                      }
                    }
                    a {
                      position: relative;
                      padding-left: 0;
                      cursor: pointer;
                      color: #666;
                      font-size: 16px;
                      transition: all 0.2s;
                      &:hover {
                        color: var(--secondary-theme-color);
                      }
                    }
                  }
                }
                .price__filter__slider {
                  margin: 25px 0;
                  padding-bottom: 15px;
                  h2 {
                    font-size: 15px;
                    font-weight: 600;
                  }

                  .rc-slider {
                    .rc-slider-rail {
                      height: 12px;
                      background-color: #e9e9e9;
                    }
                    .rc-slider-track {
                      height: 12px;
                      background-color: var(--secondary-theme-color);
                    }
                    .rc-slider-dot {
                      bottom: -6px;
                      width: 8px;
                      height: 8px;
                      background-color: transparent;
                      border-color: transparent;
                    }
                    .rc-slider-dot-active {
                      border-color: #fff;
                    }
                    .rc-slider-handle {
                      margin-top: -1px;
                      background-color: #fff;
                      opacity: 1;
                      border: solid 2px var(--secondary-theme-color);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .right__side {
        .sort__intro {
          display: flex;
          justify-content: space-between;
          .sort__intro__inner {
            display: flex;
            align-items: center;
            .sort__title {
              margin-right: 15px;
              span {
                font-size: 16px;
                font-weight: 600;
              }
            }
            .select__data__left {
              .css-6j8wv5-Input {
                input {
                  height: auto !important;
                  width: 120px !important;
                }
              }
            }
            .select__data__right {
              .css-6j8wv5-Input {
                input {
                  height: auto !important;
                  width: 64px !important;
                }
              }
            }
            .icon__section {
              span {
                margin-left: 10px;
                svg {
                  font-size: 25px;
                  color: #666;
                  cursor: pointer;
                  transition: all 0.2s linear;
                  &:hover {
                    color: var(--secondary-theme-color);
                  }
                }
              }
            }
          }
        }
        .product__items {
          margin-top: 40px;
          .product__items__inner {
            .part__two__inner__body {
              margin-bottom: 30px;
              .inner__products {
                .items {
                  border: 1px solid #dddddda3;
                  border-radius: 10px;
                  padding: 0px;
                  overflow: hidden;
                  position: relative;
                  .img__file {
                    position: relative;
                    overflow: hidden;
                    img {
                      transition: all 0.3s linear;
                      width: 100%;
                      &:nth-child(2) {
                        position: absolute;
                        transition: all 0.2s linear;
                        top: 0;
                        left: 0;
                        opacity: 0;
                      }
                    }
                  }
                  .text__file {
                    padding: 6px 12px;
                    .title {
                      font-size: 15px;
                      line-height: 22px;
                      display: block;
                      font-weight: 600;
                      padding-top: 12px;
                      padding-bottom: 2px;
                      transition: all 0.1s linear;
                      color: var(--secondary-theme-color);
                      &:hover {
                        color: var(--primary-theme-color);
                      }
                    }
                    .price {
                      font-size: 17px;
                      font-weight: 600;
                      color: var(--primary-theme-color);
                      .discount {
                        color: #a9a9a9;
                        text-decoration: line-through;
                        text-decoration-color: rgb(163 163 163);
                      }
                    }
                    .rate {
                      .icon {
                        color: #ff9923;
                        font-weight: 900;
                        font-size: 18px;
                      }
                    }
                    .handbagFill {
                      position: absolute;
                      bottom: 32px;
                      right: 27px;
                      font-size: 28px;
                      color: rgb(193 193 193);
                      transition: all 0.3s linear;
                      cursor: pointer;
                      .BsFillCartCheckFill {
                        color: var(--primary-theme-color);
                      }
                      &:hover {
                        color: var(--primary-theme-color);
                      }
                    }
                  }
                  .overlay__icons {
                    position: absolute;
                    top: 14px;
                    right: 14px;
                    .overlay__icons__body {
                      .icon__body {
                        background: #dddddd8a;
                        width: 40px;
                        border-radius: 50%;
                        height: 40px;
                        display: block;
                        position: relative;
                        margin-bottom: 5px;
                        visibility: hidden;
                        opacity: 0;
                        overflow: hidden;
                        transform: translateY(-10px);
                        &.active {
                          background-color: var(--primary-theme-color);
                          .icon {
                            color: var(--color-white);
                          }
                        }

                        &:nth-child(1) {
                          transition: all 0.2s linear;
                        }
                        &:nth-child(2) {
                          transition: all 0.3s linear;
                        }
                        &:nth-child(3) {
                          transition: all 0.4s linear;
                        }
                        .icon {
                          font-size: 16px;
                          color: rgb(160, 160, 160);
                          position: absolute;

                          top: 50%;
                          left: 50%;
                          transform: translate(-50%, -50%);
                        }
                        &:hover {
                          background-color: var(--primary-theme-color);
                          .icon {
                            color: var(--color-white);
                          }
                        }
                      }
                    }
                  }
                  &:hover {
                    .overlay__icons {
                      .overlay__icons__body {
                        .icon__body {
                          visibility: visible;
                          opacity: 1;
                          transform: translateY(0);
                        }
                      }
                    }
                    .img__file {
                      img {
                        &:nth-child(2) {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .product__items__pagination {
            margin-top: 30px;
            margin-bottom: 50px;
            border-top: 1px solid #f4f4f4;
            padding-top: 50px;
            .product__items__pagination__inner {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .left__side {
                span {
                  color: #666;
                  font-size: 15px;
                  span {
                    padding: 0 5px;
                    color: var(--secondary-theme-color);
                  }
                }
              }
              .right__side {
                a {
                  border: 1px solid #ddd;
                  padding: 6px 12px;
                  border-radius: 5px;
                  color: #666;
                  margin: 0 5px;
                  transition: all 0.2s linear;
                  font-size: 16px;
                  &:hover {
                    border-color: var(--secondary-theme-color);
                    background: var(--secondary-theme-color);
                    color: #fff;
                  }
                  &.active {
                    border-color: var(--secondary-theme-color);
                    background: var(--secondary-theme-color);
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
