.product {
  margin: 100px 0;

  .wrapper {
    .wrapper__body {
      .left__side {
        .inner {
          padding-right: 30px;
          border-right: 1px solid #ddd;

          .header__text {
            h3 {
              font-size: 20px;
              font-weight: 700;
              position: relative;
              display: inline-block;

              &::after {
                position: absolute;
                content: "";
                bottom: -8px;
                left: 0;
                background-color: var(--secondary-theme-color);
                width: 100%;
                height: 3px;
              }
            }
          }

          .category {
            margin-top: 20px;

            & > ul {
              padding: 0;

              & > li {
                margin: 10px 0;
                border-bottom: 1px solid #ddd;
                padding-bottom: 0;
                position: relative;

                a {
                  color: #666;
                  font-size: 14px;

                  &:hover {
                    color: var(--secondary-theme-color);
                  }
                }

                .dropdown__icon {
                  color: #666;
                  font-size: 22px;
                  position: absolute;
                  right: 0;
                  top: 4px;
                  cursor: pointer;
                }

                .dropdown {
                  padding-left: 15px;
                  border-left: 3px solid #ddd;
                  visibility: hidden;
                  opacity: 0;
                  height: 0;
                  transition: all 0.2s linear;

                  &.active {
                    visibility: visible;
                    opacity: 1;
                    height: 100%;
                  }

                  & > ul {
                    padding: 0;

                    & > li {
                      margin: 0;

                      &:first-child {
                        margin-top: 10px;
                      }

                      &:last-child {
                        margin-bottom: 10px;
                      }

                      a {
                        padding: 3px 0;
                        display: block;
                        color: #666;

                        &:hover {
                          color: var(--secondary-theme-color);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .product__sidebar__widget__card {
          margin-top: 60px;
          .product__sidebar__widget__card__inner {
            padding: 30px 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            .items {
              display: flex;
              margin-bottom: 15px;
              .icon {
                margin-right: 15px;
                svg {
                  font-size: 30px;
                  color: var(--secondary-theme-color);
                }
              }
              .text {
                h4 {
                  font-size: 15px;
                  font-weight: 700;
                  margin-bottom: 0px;
                }
                p {
                  font-size: 13px;
                  color: #666;
                }
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .product__sidebar__widget__img {
          margin-top: 40px;
          height: 220px;
          background-size: cover;
          background-position: center center;
          border-radius: 5px;
          position: relative;
          .product__sidebar__widget__img__inner {
            position: absolute;
            top: 77%;
            left: 72%;
            transform: translate(-50%, -50%);

            .hotLink {
              font-size: 65px;
              font-weight: 900;
              color: var(--color-white);
              sup {
                font-size: 30px;
                margin-left: 5px;
              }
              sub {
                font-size: 30px;
                left: -25px;
              }
            }
          }
        }
      }

      .right__side {
        .inner {
          .display__img {
            .img__file {
              padding: 0 25px;

              .image-gallery {
                .image-gallery-thumbnail {
                  border: none;
                  width: 50px;
                  opacity: 0.7;
                  margin: 10px 4px;
                  transition: all 0.2s linear;

                  &:hover {
                    border: none;
                    transform: scale(110%);
                  }

                  &.active {
                    border: none;
                    opacity: 1;
                  }
                }
              }
            }
          }

          .text__file {
            .header {
              h2 {
                font-size: 25px;
                font-weight: 700;
              }

              .price {
                font-size: 22px;
                font-weight: 600;
                color: var(--primary-theme-color);
                margin-top: 10px;
                position: relative;
                display: inline-block;

                &::after {
                  position: absolute;
                  content: "";
                  height: 3px;
                  width: 100%;
                  bottom: -6px;
                  left: 0;
                  background-color: #ddd;
                }
              }

              .des {
                color: #666;
                font-size: 15px;
                margin-top: 18px;
              }
            }

            .variable__items {
              margin-top: 20px;

              .size {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                  color: #666;
                  font-weight: 600;
                  font-size: 15px;
                }

                .select__size {
                  width: 88%;

                  input {
                    height: 20px !important;
                  }
                }
              }

              .color {
                margin-top: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                  color: #666;
                  font-weight: 600;
                  font-size: 15px;
                }

                .select__color {
                  width: 88%;

                  input {
                    height: 20px !important;
                  }
                }
              }
            }
          }

          .count__product {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;

            .count__product__inner {
              display: flex;
              align-items: center;

              span {
                display: inline-flex;
              }

              button {
                margin: 0 5px;
                padding: 6px;
                font-size: 25px;
                cursor: pointer;
                border: none;
              }

              .count__data {
                border: 2px solid #ddd;
                padding: 8px 35px;

                input {
                  height: auto;
                  width: 28px;
                  text-align: center;
                  border: none;
                }
              }
            }

            .text {
              .button__mid_solid_color_black {
                margin: 0;
              }
            }
          }

          .tag__category__section {
            margin-top: 20px;

            .tag__category__section__inner {
              .tag__category__box {
                p {
                  border-top: 1px dotted #ddd;
                  color: #666;
                  font-size: 13px;
                  padding: 3px 0;

                  a {
                    color: var(--secondary-theme-color);
                    margin-left: 4px;

                    &:hover {
                      color: var(--primary-theme-color);
                    }
                  }
                }
              }

              .social__share {
                margin-top: 15px;

                .social__share__inner {
                  a {
                    margin-right: 6px;
                    padding: 8px 10px;
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    color: #666;
                    svg {
                      margin-top: -3px;
                    }

                    &:nth-child(1) {
                      &:hover {
                        background: var(--facebook-color);
                        color: #fff;
                        border: 1px solid var(--facebook-color);
                      }
                    }

                    &:nth-child(2) {
                      &:hover {
                        background: var(--twitter-color);
                        color: #fff;
                        border: 1px solid var(--twitter-color);
                      }
                    }

                    &:nth-child(3) {
                      &:hover {
                        background: var(--linkedin-color);
                        color: #fff;
                        border: 1px solid var(--linkedin-color);
                      }
                    }

                    &:nth-child(4) {
                      &:hover {
                        background: var(--whatsApp-color);
                        color: #fff;
                        border: 1px solid var(--whatsApp-color);
                      }
                    }

                    &:nth-child(5) {
                      &:hover {
                        background: var(--instagram-color);
                        color: #fff;
                        border: 1px solid var(--instagram-color);
                      }
                    }

                    &:nth-child(6) {
                      &:hover {
                        background: var(--medium-color);
                        color: #fff;
                        border: 1px solid var(--medium-color);
                      }
                    }
                  }
                }
              }
            }
          }

          .description__review__section {
            padding-left: 25px;
            .description__review__section__inner {
              margin-top: 100px;

              .description__review__section_tabs {
                ul.react-tabs__tab-list {
                  border: none;
                  border-top: 1px solid #ddd;

                  .react-tabs__tab {
                    margin-right: 30px;
                    border: none;
                    position: initial;
                    position: relative;
                    top: -1px;
                    color: #666;
                    font-size: 14px;
                    font-weight: 600;
                    padding: 6px 0px;

                    &.react-tabs__tab--selected {
                      border: none;
                      position: initial;
                      border-radius: unset;
                      background: transparent;
                      color: var(--secondary-theme-color);
                      border-top: 4px solid var(--primary-theme-color);
                      position: relative;
                      top: -1px;
                    }
                  }
                }
              }

              .react-tabs__tab-panel {
                display: block;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s;
              }
              .react-tabs__tab-panel--selected {
                visibility: visible;
                opacity: 1;
              }

              .tabPanel__description {
                .tabPanel__description__inner {
                  margin-top: 20px;

                  h3 {
                    font-size: 22px;
                    font-weight: 600;
                  }

                  p {
                    font-size: 15px;
                    color: #666;
                  }

                  ul {
                    padding: 0;

                    li {
                      padding: 3px 0;
                      font-size: 15px;
                      color: #666;
                    }
                  }
                }
              }

              .tabPanel__information {
                .tabPanel__information__inner {
                  margin-top: 20px;

                  ul {
                    padding: 0;

                    li {
                      display: flex;
                      padding: 3px 0;
                      color: #666;
                      font-size: 15px;

                      span {
                        &:nth-child(1) {
                          width: 180px;
                        }
                      }
                    }
                  }
                }
              }

              .tabPanel__vendor__info {
                .pane__vendor__info__inner {
                  margin-top: 20px;

                  .info__part {
                    display: flex;

                    .img__file {
                      padding-right: 40px;

                      img {
                        border-radius: 5px;
                      }
                    }

                    .details {
                      h3 {
                        font-size: 20px;
                        font-weight: 600;
                      }

                      .star__icon {
                        margin-top: -5px;

                        span {
                          color: #666;
                          font-size: 14px;
                          margin-right: 8px;

                          svg {
                            margin-right: 3px;
                            color: #ff9933;
                          }
                        }
                      }

                      .intro__data {
                        .intro__data__inner {
                          margin-top: 15px;

                          .items {
                            display: flex;

                            p {
                              color: #666;

                              &:nth-child(1) {
                                width: 30%;
                              }

                              &:nth-child(2) {
                                width: 70%;
                              }
                            }
                          }
                        }

                        .button__mid_solid_color_black {
                          margin-top: 40px;
                          display: inline-block;
                        }
                      }
                    }
                  }
                }
              }
              .tabpanel__customer__reviewer {
                .tabpanel__customer__reviewer__inner {
                  margin-top: 20px;
                  .rating__section {
                    .rating__section__inner {
                      .rating__header {
                        display: flex;
                        align-items: center;
                        .rate {
                          margin-right: 41px;
                          h2 {
                            font-size: 50px;
                            font-weight: 900;
                            color: var(--primary-theme-color);
                          }
                        }
                        .rate__info {
                          margin-bottom: 9px;
                          span {
                            color: #666;
                          }
                          .star__icon {
                            display: flex;
                            align-items: center;
                            span {
                              &:nth-child(1) {
                                svg {
                                  margin-right: 2px;
                                }
                              }
                              &:nth-child(2) {
                                font-size: 15px !important;
                                margin-top: 5px;
                                display: inline;
                              }
                            }
                          }
                        }
                      }
                      .rating__footer {
                        .recommended {
                          p {
                            span {
                              &:nth-child(1) {
                                font-size: 20px;
                                font-weight: 800;
                              }
                              &:nth-child(2) {
                                font-size: 14px;
                                margin-left: 54px;
                                .text {
                                  color: #666;
                                  margin-left: 5px;
                                  font-size: 14px;
                                  font-weight: normal;
                                }
                              }
                            }
                          }
                        }
                      }
                      .rating__details {
                        margin-top: 8px;
                        .rating__details__inner {
                          display: flex;
                          margin-bottom: 8px;
                          align-items: center;
                          .star__icon {
                            span {
                              display: flex;
                              align-items: center;
                            }
                            svg {
                              margin-right: 3px;
                            }
                            .BsFillStarFill {
                              color: #ff9933;
                            }
                            .BsFillStarFillGray {
                              color: #d6d6d6;
                            }
                          }
                          .progressbar {
                            margin-left: 16px;
                            width: 180px;
                          }
                          .label {
                            font-size: 14px;
                            color: #666;
                            margin-left: 12px;
                          }
                        }
                      }
                    }
                  }
                  .submit__review__section {
                    .submit__review__section__inner {
                      .header {
                        h2 {
                          font-size: 20px;
                          font-weight: 800;
                        }
                        p {
                          color: #666;
                          font-size: 15px;
                        }
                      }
                      .rate__post {
                        margin-top: 0px;
                        span {
                          color: #666;
                          margin-top: -1px;
                        }
                        .rating {
                          margin-left: 8px;
                          svg {
                            width: 20px;
                            width: 20px;
                          }
                        }
                      }
                      .form__section {
                        form {
                          textarea {
                            border-radius: 5px;
                            padding: 10px 15px;
                            font-size: 14px;
                          }
                          .input__filed {
                            margin-top: 10px;
                            display: flex;
                            font-size: 14px;

                            input {
                              border-radius: 5px;
                              padding: 0 15px;
                              color: #666;
                              &:nth-child(1) {
                                margin-right: 5px;
                              }
                              &:nth-child(2) {
                                margin-left: 5px;
                              }
                            }
                          }
                          .checkbox {
                            display: flex;
                            margin-top: 18px;

                            align-items: flex-start;
                            input {
                              color: #666;
                              width: auto;
                              height: auto;
                              margin-top: 6px;
                              margin-right: 10px;
                            }
                            label {
                              color: #666;
                              font-size: 15px;
                              cursor: pointer;
                            }
                          }
                          .button__mid_solid_color_black {
                            margin-top: 18px;
                            display: inline-block;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .more__product__body {
            padding-left: 25px;
            .part__one {
              margin-top: 45px;
              .more__product {
                border-bottom: 1px solid #ddd;
                padding-bottom: 20px;
                .more__product__inner {
                  .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h2 {
                      font-size: 25px;
                      font-weight: 700;
                    }
                    a {
                      color: #666;
                      font-size: 16px;
                      transition: all 0.2s;
                      font-weight: 700;
                      &:hover {
                        color: var(--primary-theme-color);
                      }
                    }
                  }
                }
              }
            }
            .part__two {
              margin-top: 30px;
              .part__two__inner__body {
                margin-bottom: 30px;
                .inner__products {
                  .items {
                    border: 1px solid #dddddda3;
                    border-radius: 10px;
                    padding: 0px;
                    overflow: hidden;
                    position: relative;
                    .img__file {
                      position: relative;
                      overflow: hidden;
                      img {
                        transition: all 0.3s linear;
                        width: 100%;
                        &:nth-child(2) {
                          position: absolute;
                          transition: all 0.2s linear;
                          top: 0;
                          left: 0;
                          opacity: 0;
                        }
                      }
                    }
                    .text__file {
                      padding: 6px 12px;
                      .title {
                        font-size: 15px;
                        line-height: 22px;
                        display: block;
                        font-weight: 600;
                        padding-top: 12px;
                        padding-bottom: 2px;
                        transition: all 0.1s linear;
                        color: var(--secondary-theme-color);
                        &:hover {
                          color: var(--primary-theme-color);
                        }
                      }
                      .price {
                        font-size: 17px;
                        font-weight: 600;
                        color: var(--primary-theme-color);
                        .discount {
                          color: #a9a9a9;
                          text-decoration: line-through;
                          text-decoration-color: rgb(163 163 163);
                        }
                      }
                      .rate {
                        .icon {
                          color: #ff9923;
                          font-weight: 900;
                          font-size: 18px;
                        }
                      }
                      .handbagFill {
                        position: absolute;
                        bottom: 32px;
                        right: 27px;
                        font-size: 28px;
                        color: rgb(193 193 193);
                        transition: all 0.3s linear;
                        cursor: pointer;
                        &:hover {
                          color: var(--primary-theme-color);
                        }
                      }
                    }
                    .overlay__icons {
                      position: absolute;
                      top: 14px;
                      right: 14px;
                      .overlay__icons__body {
                        .icon__body {
                          background: #dddddd8a;
                          width: 40px;
                          border-radius: 50%;
                          height: 40px;
                          display: block;
                          position: relative;
                          margin-bottom: 5px;
                          visibility: hidden;
                          opacity: 0;
                          overflow: hidden;
                          transform: translateY(-10px);

                          &:nth-child(1) {
                            transition: all 0.2s linear;
                          }
                          &:nth-child(2) {
                            transition: all 0.3s linear;
                          }
                          &:nth-child(3) {
                            transition: all 0.4s linear;
                          }
                          .icon {
                            font-size: 16px;
                            color: rgb(160, 160, 160);
                            position: absolute;

                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                          }
                          &:hover {
                            background-color: var(--primary-theme-color);
                            .icon {
                              color: var(--color-white);
                            }
                          }
                        }
                      }
                    }
                    &:hover {
                      .overlay__icons {
                        .overlay__icons__body {
                          .icon__body {
                            visibility: visible;
                            opacity: 1;
                            transform: translateY(0);
                          }
                        }
                      }
                      .img__file {
                        img {
                          &:nth-child(2) {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ========= min-width:768px & max-width:991px =========

@media #{$md-layout-device} {
  .product {
    margin: 60px 0;

    .wrapper {
      .wrapper__body {
        .left__side {
          .inner {
            padding-right: 30px;
            border-right: 1px solid #ddd;

            .header__text {
              h3 {
                font-size: 20px;
                font-weight: 700;
                position: relative;
                display: inline-block;

                &::after {
                  position: absolute;
                  content: "";
                  bottom: -8px;
                  left: 0;
                  background-color: var(--secondary-theme-color);
                  width: 100%;
                  height: 3px;
                }
              }
            }

            .category {
              margin-top: 20px;

              & > ul {
                padding: 0;

                & > li {
                  margin: 10px 0;
                  border-bottom: 1px solid #ddd;
                  padding-bottom: 0;
                  position: relative;

                  a {
                    color: #666;
                    font-size: 14px;

                    &:hover {
                      color: var(--secondary-theme-color);
                    }
                  }

                  .dropdown__icon {
                    color: #666;
                    font-size: 22px;
                    position: absolute;
                    right: 0;
                    top: 4px;
                    cursor: pointer;
                  }

                  .dropdown {
                    padding-left: 15px;
                    border-left: 3px solid #ddd;
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                    transition: all 0.2s linear;

                    &.active {
                      visibility: visible;
                      opacity: 1;
                      height: 100%;
                    }

                    & > ul {
                      padding: 0;

                      & > li {
                        margin: 0;

                        &:first-child {
                          margin-top: 10px;
                        }

                        &:last-child {
                          margin-bottom: 10px;
                        }

                        a {
                          padding: 3px 0;
                          display: block;
                          color: #666;

                          &:hover {
                            color: var(--secondary-theme-color);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .right__side {
          .inner {
            .display__img {
              .img__file {
                margin-top: 60px;
              }
            }

            .text__file {
              margin-top: 40px;
            }

            .description__review__section {
              .description__review__section__inner {
                margin-top: 80px;

                .tabpanel__customer__reviewer {
                  .tabpanel__customer__reviewer__inner {
                    margin-top: 20px;

                    .submit__review__section {
                      .submit__review__section__inner {
                        margin-top: 35px;

                        .form__section {
                          margin-top: 15px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .more__product__body {
              .part__one {
                margin-top: 45px;
                .more__product {
                  border-bottom: 1px solid #ddd;
                  padding-bottom: 20px;
                  .more__product__inner {
                    .header {
                      h2 {
                        font-size: 20px;
                        font-weight: 700;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ========= min-width:0px & max-width:767px  =========

@media #{$sm-layout-device} {
  .product {
    margin: 60px 0;

    .wrapper {
      .wrapper__body {
        .left__side {
          .inner {
            padding-right: 30px;
            border-right: 1px solid #ddd;

            .category {
              & > ul {
                & > li {
                  a {
                    color: #666;
                    font-size: 16px;
                  }

                  .dropdown {
                    & > ul {
                      & > li {
                        a {
                          padding: 6px 0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .right__side {
          .inner {
            .display__img {
              .img__file {
                margin-top: 55px;
                padding: 0 25px;
              }
            }

            .text__file {
              margin-top: 40px;
              .header {
                .price {
                  font-size: 30px !important;
                }

                .des {
                  font-size: 16px !important;
                }
              }

              .variable__items {
                margin-top: 20px;
              }
            }
            .count__product {
              .text {
                .button__mid_solid_color_black {
                  padding: 10px 30px;
                  font-size: 16px;
                }
              }
            }

            .tag__category__section {
              margin-top: 40px;

              .tag__category__section__inner {
                .tag__category__box {
                  p {
                    font-size: 14px !important;
                    padding: 5px 0;

                    a {
                      font-size: 15px;
                    }
                  }
                }

                .social__share {
                  margin-top: 15px;

                  .social__share__inner {
                    a {
                      font-size: 22px;
                    }
                  }
                }
              }
            }

            .description__review__section {
              .description__review__section__inner {
                margin-top: 65px;

                .description__review__section_tabs {
                  ul.react-tabs__tab-list {
                    padding-top: 20px;
                    .react-tabs__tab {
                      display: block;
                      font-size: 16px;

                      &.react-tabs__tab--selected {
                        border: none;
                        color: var(--primary-theme-color);
                      }
                    }
                  }
                }

                .tabPanel__description {
                  .tabPanel__description__inner {
                    margin-top: 20px;

                    p {
                      font-size: 16px !important;
                    }
                  }
                }

                .tabPanel__information {
                  .tabPanel__information__inner {
                    margin-top: 20px;

                    ul {
                      li {
                        font-size: 15px !important;
                      }
                    }
                  }
                }

                .tabPanel__vendor__info {
                  .pane__vendor__info__inner {
                    margin-top: 20px;

                    .info__part {
                      display: block;

                      .img__file {
                        padding-right: 0;
                      }

                      .details {
                        margin-top: 32px;

                        .intro__data {
                          .intro__data__inner {
                            margin-top: 15px;

                            .items {
                              display: flex;

                              p {
                                font-size: 15px !important;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                .tabpanel__customer__reviewer {
                  .tabpanel__customer__reviewer__inner {
                    margin-top: 20px;

                    .submit__review__section {
                      margin-top: 35px;
                      .submit__review__section__inner {
                        .header {
                          p {
                            font-size: 15px !important;
                          }
                        }

                        .form__section {
                          form {
                            textarea {
                              border-radius: 5px;
                              padding: 10px 15px;
                              font-size: 14px;
                            }
                            .input__filed {
                              margin-top: 15px;
                              display: block;
                              font-size: 15px;

                              input {
                                border-radius: 5px;
                                padding: 0 15px;
                                color: #666;
                                &:nth-child(1) {
                                  margin-right: 0;
                                  margin-bottom: 15px;
                                }
                                &:nth-child(2) {
                                  margin-left: 0;
                                }
                              }
                            }

                            .button__mid_solid_color_black {
                              margin-top: 18px;
                              display: inline-block;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .more__product__body {
              .part__one {
                margin-top: 45px;
                .more__product {
                  border-bottom: 1px solid #ddd;
                  padding-bottom: 20px;
                  .more__product__inner {
                    .header {
                      display: block;
                      h2 {
                        font-size: 18px;
                        margin-bottom: 20px;
                      }
                    }
                  }
                }
              }
              .part__two {
                margin-top: 30px;
                .part__two__inner__body {
                  margin-bottom: 30px;
                  .inner__products {
                    .items {
                      border: 1px solid #dddddda3;
                      border-radius: 10px;
                      padding: 20px;
                      overflow: hidden;
                      position: relative;
                      .img__file {
                        overflow: hidden;
                        img {
                          transition: all 0.3s linear;
                        }
                      }
                      .text__file {
                        .title {
                          font-size: 16px !important;
                        }
                        .price {
                          font-size: 17px !important;
                        }
                        .rate {
                          .icon {
                            color: #ff9923;
                            font-weight: 900;
                            font-size: 18px;
                          }
                        }
                        .handbagFill {
                          position: absolute;
                          bottom: 32px;
                          right: 27px;
                          font-size: 28px;
                          color: rgb(193 193 193);
                          transition: all 0.3s linear;
                          cursor: pointer;
                          &:hover {
                            color: var(--primary-theme-color);
                          }
                        }
                      }
                      .overlay__icons {
                        position: absolute;
                        top: 14px;
                        right: 14px;
                        .overlay__icons__body {
                          .icon__body {
                            background: #dddddd8a;
                            width: 40px;
                            border-radius: 50%;
                            height: 40px;
                            display: block;
                            position: relative;
                            margin-bottom: 5px;
                            visibility: hidden;
                            opacity: 0;
                            overflow: hidden;
                            transform: translateY(-10px);

                            &:nth-child(1) {
                              transition: all 0.2s linear;
                            }
                            &:nth-child(2) {
                              transition: all 0.3s linear;
                            }
                            &:nth-child(3) {
                              transition: all 0.4s linear;
                            }
                            .icon {
                              font-size: 16px;
                              color: rgb(160, 160, 160);
                              position: absolute;

                              top: 50%;
                              left: 50%;
                              transform: translate(-50%, -50%);
                            }
                            &:hover {
                              background-color: var(--primary-theme-color);
                              .icon {
                                color: var(--color-white);
                              }
                            }
                          }
                        }
                      }
                      &:hover {
                        .overlay__icons {
                          .overlay__icons__body {
                            .icon__body {
                              visibility: visible;
                              opacity: 1;
                              transform: translateY(0);
                            }
                          }
                        }
                      }
                    }
                    &:hover {
                      .img__file img {
                        transform: scale(110%);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
