.addToCartTost {
  background: #fff;
  border-radius: 5px;
  // box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.07);

  .wrapper {
    .wrapper__body {
      position: relative;
      .introSection {
        display: flex;
        justify-content: space-between;
        .img__file {
          img {
            width: 75px !important;
          }
        }
        .text__file {
          margin-top: auto;
          padding-left: 10px;
          h3 {
            font-size: 16px;
            font-weight: 700;
          }
          p {
            color: #666;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .button__section {
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
        .button__mid_solid_color_black {
          display: inline-block;
          padding: 6px 30px;
        }
      }
    }
  }
}

// ============  add__To__List__Tost  ============

.add__To__List__Tost {
  .wrapper {
    .wrapper__body {
      p {
        color: #666;
        font-size: 16px;
      }
      .button__mid_solid_color_black {
        display: inline-block;
        padding: 8px 20px;
      }
    }
  }
}
